#Cross Compiler Folder
cross/

#Binary File
*.bin
*.iso

#Object Files
*.o
*.obj

#Executable Files
*.out
*.exe

#Library Files
*.a

#Bochs Logs
bochslog.txt

#Generated Folders
.d/

#Makefile Custom Caches
Makefile.cached.CROSSROOT

#Travis Log Files
travis.log

# ISO staging area
boot/boot

#Supervisord Unneccsary Files
supervisord.log
supervisord.pid
