#Cross Compiler Folder
cross/

#Binary File
*.bin
*.iso

#Object Files
*.o
*.obj

#Executable Files
*.out
*.exe

#Library Files
*.a

#Bochs Logs
bochslog.txt

#Generated Folders
.d/

#Makefile Custom Caches
Makefile.cached.CROSSROOT

# Staging area for building bootable iso
boot/
